/* CSS for assignment1.html */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/* Container */
#container {
  width: 1500px;
  margin: 20px auto;
}

/* Header */
#header {
  width: 100%;
  height: 150px;
  border: 1px solid black;
  background-color: linen;
}
#header #intro {
  padding: 10px;
  float: left;
}
#header #login-form {
  display: block;
  float: right;
  margin: 5px;
}
#header #login-form ul {
  list-style: none;
  padding: 5px;
}
#header #login-form #buttons {
  margin: 5px;
}

/* Sidebar */
#sidebar {
  width: 300px;
  height: 600px;
  border: 1px solid black;
  float: left;
  background-color: linen;
}
#sidebar nav {
  padding: 10px;
} 
nav ol {
  margin-top: 10px;
  list-style-position: inside;
}

/* Contents */
#contents {
  overflow: scroll;
  width: 1200px;
  height: 600px;
  border: 1px solid black;
  float: left;
}
/* Welcome */
#welcome {
  background-color: rgb(211, 211, 211);
  padding: 10px;
  text-align: center;
}
/* Education */
#education {
  background-color: rgba(211, 211, 211, 0.6);
  padding: 10px;
  margin-top: 10px;
}
/* Career */
#career {
  background-color: rgba(211, 211, 211, 0.6);
  padding: 10px;
  margin-top: 10px;
}
#career #work-list {
  list-style-position: inside;
}
/* Course */
#current-course {
  background-color: rgba(211, 211, 211, 0.25);
  padding: 10px;
  margin-top: 10px;
}
#course-table {
  margin-top: 10px;
  width: 50%;
}
#current-course table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  text-align: center;
  padding: 5px;
}

/* Footer */
#footer {
  width: 100%;
  height: 120px;
  border: 1px solid black;
  clear: left;
  background-color: linen;
  text-align: center;
}